extends ../layout

block content
  .container.mt-4
    h1= title
    
    //- El formulario apunta a la ruta con ?_method=PUT
    form(action=`/estudiantes/${estudiante.id_estudiante}?_method=PUT`, method='POST')
      .row
        .col-md-6.mb-3
          label.form-label(for='documento') Documento
          input#documento.form-control(type='text', name='documento', value=estudiante.documento, required)
        .col-md-6.mb-3
          label.form-label(for='fecha_nacimiento') Fecha de Nacimiento
          //- Atenti: el input type="date" espera que el value esté formateado como YYYY-MM-DD
          input#fecha_nacimiento.form-control(type='date', name='fecha_nacimiento', value=estudiante.fecha_nacimiento, required)
          
      .row
        .col-md-6.mb-3
          label.form-label(for='apellido') Apellido
          input#apellido.form-control(type='text', name='apellido', value=estudiante.apellido, required)
        .col-md-6.mb-3
          label.form-label(for='nombres') Nombres
          input#nombres.form-control(type='text', name='nombres', value=estudiante.nombres, required)
          
      .mb-3
        label.form-label(for='email') Correo Electrónico
        input#email.form-control(type='email', name='email', value=estudiante.email, required)
      
      .d-flex.justify-content-end.mt-4
        a.btn.btn-secondary.me-2(href='/estudiantes') Cancelar
        button.btn.btn-primary(type='submit') Guardar Cambios