extends ../layout

block content
  .container.mt-4
    .card.border-info.shadow
      .card-header.bg-info.text-white.d-flex.justify-content-between.align-items-center
        h2.h4.mb-0= title
        span Estado: Activa
      .card-body.p-5
        .text-center.mb-5
          h3 Universidad Nacional de Entre Ríos
          h4 Facultad de Ciencias de la Administración
          hr
          
        h5.text-center.text-muted Constancia de Inscripción
        
        .row.mt-4
          .col-md-12.text-center
            p Se certifica que el/la estudiante 
            h4 #{inscripcion.apellido}, #{inscripcion.nombres}
            p Documento: #{inscripcion.documento}
            p se encuentra inscripto/a en el curso:
            h3.text-primary #{inscripcion.curso_nombre}
            
        .row.mt-5
          .col-md-12.text-end
            small Fecha de inscripción: #{new Date(inscripcion.fecha_hora_inscripcion).toLocaleDateString()}
        
      .card-footer.d-flex.justify-content-end
        a.btn.btn-secondary.me-2(href='/inscripciones') Volver
        //- Este botón por ahora es visual, luego lo conectaremos a la librería de PDF
        button.btn.btn-success(type='button') Generar Diploma PDF